<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link  rel="stylesheet" th:href="@{/styles/employees.css}" >
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{name}"> </th>
        <th th:text="#{dateOfBirth}"> </th>
        <th th:text="#{salary}"> </th>
        <th th:text="#{role}"> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${employees.empty}">
        <td th:text="noEmployees"> </td>
    </tr>
    <tr th:each="e:${employees}">
        <td th:text="${e.id}"> </td>
        <td th:text="${e.name}"> </td>
        <td th:text="${e.dateOfBirth}"> </td>
        <td th:text="${e.salary}+'€'" >  </td>
        <td th:text="${e.role}"> </td>
    </tr>
    </tbody>
</table>
</body>
</html>