<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/employee}" method="post" th:object="${employee}">
    <input type="hidden" th:field="*{id}">
    <label>Name:</label>
    <input type="text" th:field="*{name}"><br>
    <label>Date of birth:</label>
    <input type="date" th:field="*{dateOfBirth}"><br>
    <label>Salary:</label>
    <input type="number" th:field="*{salary}"><br>
    <label>Role:</label>
    <select th:field="*{role}">
        <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
    </select>

    <button type="submit">OK</button>
</form>
</body>
</html>